.header {
	width: 100%;
	margin: auto;
	text-align: center;
}

.img-header {
	width: 50px;
	text-align: center;
	margin:  0 auto;
}

#intable thead tr td {
	text-align: center;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	padding-top: 4px;
}

#intable thead tr {
	margin-bottom: 0;
	padding-bottom: 0;
}

#intable tbody tr {
	padding: 0;
}

.text-center {
	text-align: center;
}